<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create List</title>
</head>
<body>
    <main>
        <div>
    <h1>Create New List</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

<button type="submit">Create</button>
</form>
</div>
</main>

</body>
</html>
