<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create new item</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="task" id="task required">
                <br>
                <input type="text" name="due_date" id="due_date">
                <br>
                <input type="checkbox" name="is_completed" id="is_completed">
                <br>
                <select name="list"></select>
                <button type="submit">Create</button>

            </form>
        </div>
    </main>

</body>
</html>
